body {
    text-align: center;
    background: #f2f2f2;
    font-family: Arial;
}

.box {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    background: green;
    color: white;
    border: none;
}
